<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="org.rusl.ethpaura.entity.UserEntity" />
		<mapping class="org.rusl.ethpaura.entity.AdminEntity" />
		<mapping class="org.rusl.ethpaura.entity.ElephantEntity" />
		<mapping class="org.rusl.ethpaura.entity.HealthDataEntity" />
		<mapping class="org.rusl.ethpaura.entity.PositionEntity" />
		<mapping class="org.rusl.ethpaura.entity.PostsEntity" />
		<mapping class="org.rusl.ethpaura.entity.QuestionEntity" />
		<mapping class="org.rusl.ethpaura.entity.PredictionEntity" />


	</session-factory>
</hibernate-configuration>